---
layout: default
---

{% for post in paginator.posts %}
<div class="blog-post panel panel-default">
    <div class="panel-heading">
        <h3 class="blog-post-titulo">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
        </h3>
        <div class="blog-post-meta row">
            <div class='col-sm-6'>
                <div class='blog-post-data'>
                    <p>
                        {{ post.date | date: "%d de" }}
                        {% assign m = post.date | date: "%-m" %}
                        {% case m %}
                        {% when '1' %}Janeiro
                        {% when '2' %}Fevereiro
                        {% when '3' %}Março
                        {% when '4' %}Abril
                        {% when '5' %}Maio
                        {% when '6' %}Junho
                        {% when '7' %}Julho
                        {% when '8' %}Agosto
                        {% when '9' %}Setembro
                        {% when '10' %}Outubro
                        {% when '11' %}Novembro
                        {% when '12' %}Dezembro
                        {% endcase %}
                        {{ post.date | date: "de %Y" }}
                    </p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='blog-post-redes-sociais'>
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style"  addthis:url="{{ post.url | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" addthis:title="{{ post.title }}" addthis:description="{{ post.excerpt | strip_html | strip_html | truncatewords: 55 }}">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter" data-via="{{ site.twitter_username }}"></a>
                        <a class="addthis_button_google_plusone_share"></a>
                        <a class="addthis_button_favorites"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="blog-post-conteudo panel-body">
        <div class='row'>
            <div class='col-sm-4'>
                {% include image.html src=post.image %}
            </div>
            <div class='col-sm-8'>
                <p>{{ post.excerpt | strip_html | strip_newlines | truncatewords: 55 }}</p>
                <a class='btn btn-primary pull-right' href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">Leia mais ></a>
            </div>
        </div>
    </div><!-- .blog-post-conteudo -->
</div><!-- .blog-post -->
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav>
    <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">← Primeiro</a>
        </li>
        <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', ''  }}">Anterior</a>
        </li>
        {% else %}
        <li class="disabled previous">
            <span>← Primeiro</span>
        </li>
        <li class="disabled">
            <span>Anterior</span>
        </li>
        {% endif %}
        
        {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Próximo</a>
        </li>
        <li class="next">
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">Último →</a>
        </li>
        {% else %}
        <li class="disabled">
            <span>Próximo</span>
        </li>
        <li class="disabled next">
            <span>Último →</span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}