<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Antônio Vinícius Menezes Medeiros">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="apple-touch-icon" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
    <link rel="icon" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/lib/paper/3.3.4/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/css/comum.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ "/lib/html5shiv/3.7.2/html5shiv.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/lib/respond/1.4.2/respond.min.js" | prepend: site.baseurl }}"></script>
    <![endif]-->

    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>