<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-with-search" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Exibir/esconder navegação</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div><!--.navbar-header-->

        <a class="pull-right" id="search-button" title="Pesquisar">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Blog</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/blog/category/trabalhos/">Trabalhos</a>
                </li>
                <li>
                    <a href="http://lattes.cnpq.br/2162371468280338">Currículo</a>
                </li>
            </ul>
        </div><!--#navbar-->
    </div><!--.container-->

    <div id="search-bar">
        <div class="container">
            <form action="{% if site.google.cse_id %}{{ "/search/" | prepend: site.baseurl }}{% else %}https://www.google.com/search{% endif %}" id="search-form" method="get" role="search">
                {% if site.google.cse_id %}
                {% else %}
                    <input type="hidden" name="as_sitesearch" value="{{ site.baseurl | prepend: site.url }}" />
                {% endif %}
                <div class="input-group">
                    <input  class="form-control" id="search-input" type="text"name="q" placeholder="Pesquisar" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" id="submit-search-button"><span class="glyphicon glyphicon-search"></span></button>
                        <button type="reset" class="btn btn-danger" id="reset-search-button"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div><!--#search-bar-->
</nav>
