<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    {% if site.enforce_ssl %}
        <!--
            redirect users to the https version of the website.
            but: only check when on the production domain, as set in _config.yml.
        -->
        <script type="text/javascript">
            if (("{{ site.enforce_ssl }}" == window.location.host) && (window.location.protocol != "https:"))
                window.location = window.location.toString().replace(/^http:/, "https:");
        </script>
    {% endif %}
    
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncatewords: 55 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Facebook -->
    <meta property="og:url" content="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" />
    <meta property="og:type" content="{% if page.is_post %}{{ "article" }}{% else %}{{ "website" }}{% endif %}"/>
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncatewords: 55 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="{{ page.image | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" />

    <!-- Favicons (by realfavicongenerator.net) -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/apple-touch-icon-57x57.png?v=2" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "/apple-touch-icon-60x60.png?v=2" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/apple-touch-icon-72x72.png?v=2" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/apple-touch-icon-76x76.png?v=2" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/apple-touch-icon-114x114.png?v=2" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/apple-touch-icon-120x120.png?v=2" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/apple-touch-icon-144x144.png?v=2" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/apple-touch-icon-152x152.png?v=2" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon-180x180.png?v=2" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/favicon-32x32.png?v=2" | prepend: site.baseurl }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ "/favicon-194x194.png?v=2" | prepend: site.baseurl }}" sizes="194x194">
    <link rel="icon" type="image/png" href="{{ "/favicon-96x96.png?v=2" | prepend: site.baseurl }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ "/android-chrome-192x192.png?v=2" | prepend: site.baseurl }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ "/favicon-16x16.png?v=2" | prepend: site.baseurl }}" sizes="16x16">
    <link rel="manifest" href="{{ "/manifest.json?v=2" | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico?v=2" | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="{{ "/mstile-144x144.png?v=2" | prepend: site.baseurl }}">
    <meta name="theme-color" content="#2196f3">

    <!-- Bootstrap CSS -->
    <link href="{{ "/lib/paper/3.3.4/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{{ "/lib/html5shiv/3.7.2/html5shiv.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/lib/respond/1.4.2/respond.min.js" | prepend: site.baseurl }}"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{ "/css/syntax.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/comum.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="{{ "/lib/jquery/1.11.3/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/lib/bootstrap/3.3.4/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ "/lib/bootstrap/3.3.4/js/ie10-viewport-bug-workaround.js" | prepend: site.baseurl }}"></script>

    <!-- AddThis -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_profile_id }}" async="async"></script>
    <script type="text/javascript">
        var addthis_share = {
            url: "{{ page.url | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}",
            title: document.title,
            description: "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncatewords: 55 }}{% else %}{{ site.description }}{% endif %}"
        };
    </script>

    <!-- AdSense -->
    <script type="text/javascript">
        var adsense_editor_id = "{{ site.adsense_editor_id }}",
            adsense_ad_units = [
                "{{ site.adsense_ad_unit_1 }}",
                "{{ site.adsense_ad_unit_2 }}",
                "{{ site.adsense_ad_unit_3 }}"
            ];
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Comum -->
    <script src="{{ "/js/comum.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/adsense.js" | prepend: site.baseurl }}"></script>
</head>