---
layout: default
---

{% case page.type %}
{% when 'year' %}
    {% capture titulo %}Posts publicados em {{ page.date | date: "%Y" }}{% endcapture %}
{% when 'month' %}
    {% capture titulo %}
        Posts publicados em 
        {% assign m = page.date | date: "%-m" %}
        {% case m %}
        {% when '1' %}janeiro
        {% when '2' %}fevereiro
        {% when '3' %}março
        {% when '4' %}abril
        {% when '5' %}maio
        {% when '6' %}junho
        {% when '7' %}julho
        {% when '8' %}agosto
        {% when '9' %}setembro
        {% when '10' %}outubro
        {% when '11' %}novembro
        {% when '12' %}dezembro
        {% endcase %}
        {{ page.date | date: "de %Y" }}
    {% endcapture %}
{% when 'day' %}
    {% capture titulo %}
        Posts publicados em 
        {{ page.date | date: "%d de " }}
        {% assign m = page.date | date: "%-m" %}
        {% case m %}
        {% when '1' %}janeiro
        {% when '2' %}fevereiro
        {% when '3' %}março
        {% when '4' %}abril
        {% when '5' %}maio
        {% when '6' %}junho
        {% when '7' %}julho
        {% when '8' %}agosto
        {% when '9' %}setembro
        {% when '10' %}outubro
        {% when '11' %}novembro
        {% when '12' %}dezembro
        {% endcase %}
        {{ page.date | date: "de %Y" }}
    {% endcapture %}
{% when 'category' %}
    {% capture titulo %}Posts na categoria {{ page.title }}{% endcapture %}
{% else %}
    {% assign titulo = page.title %}
{% endcase %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="blog-arquivo-titulo">{{ titulo }}</h2>
    </div>
</div>

{% for post in page.posts %}
<div class="blog-post panel panel-default">
    <div class="panel-heading">
        <h3 class="blog-post-titulo">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
        </h3>
        <div class="blog-post-meta row">
            <div class='col-sm-6'>
                <div class='blog-post-data'>
                    <p>
                        {{ post.date | date: "%d de" }}
                        {% assign m = post.date | date: "%-m" %}
                        {% case m %}
                        {% when '1' %}Janeiro
                        {% when '2' %}Fevereiro
                        {% when '3' %}Março
                        {% when '4' %}Abril
                        {% when '5' %}Maio
                        {% when '6' %}Junho
                        {% when '7' %}Julho
                        {% when '8' %}Agosto
                        {% when '9' %}Setembro
                        {% when '10' %}Outubro
                        {% when '11' %}Novembro
                        {% when '12' %}Dezembro
                        {% endcase %}
                        {{ post.date | date: "de %Y" }}
                    </p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='blog-post-redes-sociais'>
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style" addthis:url="{{ post.url | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}" addthis:title="{{ post.title }}" addthis:description="{{ post.excerpt | strip_html | strip_html | truncatewords: 55 }}">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter" data-via="{{ site.twitter_username }}"></a>
                        <a class="addthis_button_google_plusone_share"></a>
                        <a class="addthis_button_favorites"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="blog-post-conteudo panel-body">
        <div class='row'>
            <div class='col-sm-4'>
                {% include image.html src=post.image %}
            </div>
            <div class='col-sm-8'>
                <!--<p>{{ post.excerpt | strip_html | strip_newlines | truncatewords: 55 }}</p>--><!-- TODO Verificar -->
                <a class='btn btn-primary pull-right' href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">Leia mais ></a>
            </div>
        </div>
    </div><!-- .blog-post-conteudo -->
</div><!-- .blog-post -->
{% endfor %}
