---
layout: default
---

<div class="blog-post panel panel-default">
    <div class="panel-heading">
        <h2 class="blog-post-titulo">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h2>
        <div class="blog-post-meta row">
            <div class='col-sm-6'>
                <div class='blog-post-data'>
                    <p>
                        {{ page.date | date: "%d de" }}
                        {% assign m = page.date | date: "%-m" %}
                        {% case m %}
                        {% when '1' %}Janeiro
                        {% when '2' %}Fevereiro
                        {% when '3' %}Março
                        {% when '4' %}Abril
                        {% when '5' %}Maio
                        {% when '6' %}Junho
                        {% when '7' %}Julho
                        {% when '8' %}Agosto
                        {% when '9' %}Setembro
                        {% when '10' %}Outubro
                        {% when '11' %}Novembro
                        {% when '12' %}Dezembro
                        {% endcase %}
                        {{ page.date | date: "de %Y" }}
                    </p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='blog-post-redes-sociais'>
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter" data-via="{{ site.twitter_username }}"></a>
                        <a class="addthis_button_google_plusone_share"></a>
                        <a class="addthis_button_favorites"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="blog-post-conteudo panel-body">
        {{ content }}
        <div class="gap"></div>
        
        <h3>Gostou? Então compartilha!</h3>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style gap">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_email"></a>
            <a class="addthis_button_favorites"></a>
            <a class="addthis addthis_button_print"></a>
            <a class="addthis_button_pdfonline"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <!-- AddThis Button END -->
        
        <h3>Comentários</h3>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'vinyanalista';
            var disqus_url = '{{ page.url | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>
            <p><a href="http://www.enable-javascript.com/pt/" target="_blank">Habilite o JavaScript</a> para ver os <a href="https://disqus.com/?ref_noscript" rel="nofollow">comentários providos pelo Disqus</a>.</p>
        </noscript>
    </div><!-- .blog-post-conteudo -->
</div><!-- .blog-post -->